/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.m-ttl2{
	border-left: 4px solid #3199d5;
    font-size: 2rem;
	color: #292929;
    padding-left: 16px;
	text-transform: uppercase;
	margin: 15px 0;
}
.m-title{
	margin-bottom: .5rem;
	overflow: hidden;
    font-size: 1.5rem;
	line-height: 1.5;
}
.tab{
	@include flex-jbetween;
	border-bottom: 1px solid slategrey;
	&__menu{
		@include flex;
		a{
			@include flex;
			align-items: center;
			text-decoration: none;
			font-size: 1.5rem;
			font-weight: 600;
			color: #686b6e;
			padding: 0 10px;
			i{
				margin-right: 10px;
			}
			span {
				padding-left: 10px;
			}
			&::after{
				content: '';
				display: block;
				width: 0;
				height: 2px;
				background: #3199d5;
				transition: width .3s;
			}
			&:hover{
				color: #3199d5;
				&::after{
					width: 100%;
				}
			}

		}
	}
	.m-ttl2{
		margin-bottom: 0;
	}
}