/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
.m-only{
	&pc{
		@include sp{
			display: none;
		}
	}
	&sp{
		display: none;
		@include sp{
			display: inline-block;
		}
	}
}
.m-transform{
	transform: rotate(180deg);
}
.widget{
	border: 1px solid #e2e8f0;
    border-radius: 3px;
	box-shadow: 0 10px 15px -3px rgba(47,181,250,.05),0 4px 6px -2px rgba(47,181,250,.025);
	&-head{
		font-weight: 700;
		text-transform: uppercase;
		padding: .75rem 1rem;
		border-bottom: 1px solid #b5b5b5;
		padding: 1rem 2rem;
		color: $color1;
	}
	&-body{
		padding: 2rem;
	}
	&-item{
		@include flex;
		align-items: center;
		margin-bottom: 17px;
		&__img{
			width: 48px;
			height: 48px;
			margin-right: 12px;
			img{
				border-radius: 50%;
			}
		}
		&__content{
			width: calc(100% - 60px);
			a{
				text-decoration: unset;
			}
			h2{
				@include chunk-txt;
				color: var(--sub-color);
			}
		}
		&__author{
			.m-author{
				color: #3199d5;
				font-weight: bold;
			}
			span{
				color: var(--sub-color);
				&::before{
					content: "- ";
				}
			}
		}
	}
	
}

.m-sticky{
	position: fixed;
	@include flex;
	flex-direction: column;
	top: 20%;
	left: calc((100% - 800px) / 2 - 12vw);
	transition: opacity .25s ease-in-out;
	justify-content: center;
    align-items: center;
	@include sp{
		opacity: 0;
	}
	&__auth{
		img{
			border-radius: 50%;
			width: 60px;
			height: 60px;
			object-fit: cover;
		}
		margin: 5px auto 12px;
	}
	&__count, &__post, &__vote{
		@include flex;
		row-gap: 12px;
		flex-direction: column;
		text-align: center;
	}
	&__share{
		opacity: 0;
		margin: 20px 0;
		transition: opacity .25s ease-in-out;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 8px;
		&.is_active{
			opacity: 1;
		}
		&--item{
			margin: 0 auto;
			align-self: center;
			&:nth-last-of-type(3){
				i{
					border: 1px solid #666;
					border-radius: 50%;
					padding: 3px;
				}
			}
			i{
				@include flex;
				align-items: center;
				
			}
		}
	}
	#btn_share{
		width: 18px;
		height: 18px;
		@include flex;
		align-items: center;
		cursor: pointer;
	}

}
.m-pagination{
	@include flex-center;
	margin: 1.5rem 0 4.5rem;
	li{
		&:not(:last-child){
			margin-right: 3px;
		}
		a{
			padding: 5px 10px;
			color: $color1;
		}
		&.is_active, &:hover{
			a{
				color: white;
				background-color: #2fb5fa;
			}
		}
	}
}