/*------------------------------------------------------------
	Icon
------------------------------------------------------------*/
.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}
.gg-mail,
.gg-mail::after {
    display: block;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid
}
.gg-mail {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    position: relative;
    width: 18px;
    border-radius: 2px
}
.gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 3px;
    left: 0
}
.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 24px;
    background:
    linear-gradient(to bottom,
    currentColor 4px,transparent 0)
    no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
    currentColor 4px,transparent 0)
    no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
    currentColor 4px,transparent 0)
    no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
    currentColor 4px,transparent 0)
    no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
   }
   
   .gg-sun::after,
   .gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
   }
   
   .gg-sun::before {
    transform: rotate(-45deg)
   }
   
   .gg-sun::after {
    transform: rotate(45deg)
   } 
   .gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-radius: 100px
   }
   
   .gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
   } 
   .gg-album {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    transform: scale(var(--ggs,1));
    border-left: 7px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 8px solid transparent;
    box-shadow: 0 0 0 2px,
    inset 6px 4px 0 -4px,
    inset -6px 4px 0 -4px;
    border-radius: 3px
   }
   
   .gg-album::after,
   .gg-album::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 5px;
    background: currentColor;
    transform: rotate(46deg);
    top: 5px;
    right: 4px
   }
   
   .gg-album::after {
    transform: rotate(-46deg);
    right: 2px
   } 
   @keyframes gg-doc {
    0% { left: -16px }
    60%,to { left: 0 }
   }
   
   .gg-loadbar-doc {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    width: 12px;
    height: 14px;
    overflow: hidden
   }
   
   .gg-loadbar-doc::after,
   .gg-loadbar-doc::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    height: 2px;
    background: currentColor;
    animation: gg-doc 1s linear infinite alternate
   }
   
   .gg-loadbar-doc::before {
    width: 14px;
    box-shadow: -4px 4px 0
   }
   
   .gg-loadbar-doc::after {
    width: 5px;
    top: 8px
   } 
   .gg-bookmark,
   .gg-bookmark::after {
    display: block;
    box-sizing: border-box;
    border-top-right-radius: 3px
   }
   
   .gg-bookmark {
    border: 2px solid #969696;
    border-bottom: 0;
    border-top-left-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 16px;
    &:hover{
        background-color: #969696;
    }
   }
   
   .gg-bookmark::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid #969696;
    border-right: 2px solid #969696;
    transform: rotate(-45deg);
    top: 9px;
    left: -1px;
    background: white;
   } 
   .gg-shape-triangle {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 17px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid
   }
   
   .gg-shape-triangle,
   .gg-shape-triangle::before {
    display: block;
    box-sizing: border-box;
    border-right: 3px solid transparent
   }
   
   .gg-shape-triangle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg) skew(10deg,10deg);
    left: -2px;
    bottom: -13px
   } 
   .gg-eye {
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 18px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    box-sizing: border-box
   }
   
   .gg-eye::after,
   .gg-eye::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box
   }
   
   .gg-eye::after {
    top: 2px;
    box-shadow:
    inset 0 -8px 0 2px,
    inset 0 0 0 2px;
    width: 24px;
    height: 24px
   }
   
   .gg-eye::before {
    width: 8px;
    height: 8px;
    border: 2px solid;
    bottom: 4px;
    left: 8px
   } 
   .gg-transcript {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 3px;
    width: 22px;
    height: 18px
   }
   
   .gg-transcript::after,
   .gg-transcript::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    border-radius: 3px;
    background: currentColor;
    bottom: 2px
   }
   
   .gg-transcript::before {
    width: 10px;
    left: 2px;
    box-shadow: 4px -4px 0
   }
   
   .gg-transcript::after {
    width: 3px;
    right: 2px;
    box-shadow: -11px -4px 0
   } 
   .gg-trending {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,1));
    width: 10px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid
   }
   
   .gg-trending::after,
   .gg-trending::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-trending::before {
    background: currentColor;
    left: 8px;
    width: 10px;
    height: 2px;
    bottom: 0
   }
   
   .gg-trending::after {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid;
    bottom: -3px;
    right: -14px
   } 