/*------------------------------------------------------------
	Icon
------------------------------------------------------------*/

   .gg-bookmark,
   .gg-bookmark::after {
    display: block;
    box-sizing: border-box;
    border-top-right-radius: 3px
   }
   
   .gg-bookmark {
    border: 2px solid #969696;
    border-bottom: 0;
    border-top-left-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 16px;
    margin: 0 auto;
    &:hover{
        background-color: #969696;
    }
   }
   
   .gg-bookmark::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid #969696;
    border-right: 2px solid #969696;
    transform: rotate(-45deg);
    top: 9px;
    left: -1px;
    background: white;
   } 
   .gg-shape-triangle {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 17px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid $color1;
   }
   
   .gg-shape-triangle,
   .gg-shape-triangle::before {
    display: block;
    box-sizing: border-box;
    border-right: 3px solid transparent
   }
   
   .gg-shape-triangle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid $color1;
    border-top: 3px solid $color1;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg) skew(10deg,10deg);
    left: -2px;
    bottom: -13px
   } 
   .gg-eye {
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 18px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    box-sizing: border-box;
    color:  $color1;
   }
   
   .gg-eye::after,
   .gg-eye::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box
   }
   
   .gg-eye::after {
    top: 2px;
    box-shadow:
    inset 0 -8px 0 2px,
    inset 0 0 0 2px;
    width: 24px;
    height: 24px
   }
   
   .gg-eye::before {
    width: 8px;
    height: 8px;
    border: 2px solid $color1;
    bottom: 4px;
    left: 8px
   } 
   .gg-transcript {
    box-sizing: border-box;
    position: relative;
    display: block;
    border: 2px solid $color1;
    border-radius: 3px;
    width: 22px;
    height: 18px
   }
   
   .gg-transcript::after,
   .gg-transcript::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    border-radius: 3px;
    background: currentColor;
    bottom: 2px;
    color: $color1;
   }
   
   .gg-transcript::before {
    width: 10px;
    left: 2px;
    box-shadow: 4px -4px 0
   }
   
   .gg-transcript::after {
    width: 3px;
    right: 2px;
    box-shadow: -11px -4px 0
   } 
   .gg-trending {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,1));
    width: 10px;
    height: 8px;
    border-top: 2px solid $color1;
    border-right: 2px solid $color1;
   }
   
   .gg-trending::after,
   .gg-trending::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-trending::before {
    background: currentColor;
    left: 8px;
    width: 10px;
    height: 2px;
    bottom: 0
   }
   
   .gg-trending::after {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid $color1;
    bottom: -3px;
    right: -14px
   } 
   .gg-shape-triangdown {
    position: relative;
    width: 22px;
    height: 17px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid $color1;
   }
   
   .gg-shape-triangdown,
   .gg-shape-triangdown::before {
    display: block;
    box-sizing: border-box;
    border-right: 3px solid transparent
   }
   
   .gg-shape-triangdown::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid $color1;
    border-top: 3px solid $color1;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg) skew(10deg,10deg);
    left: -2px;
    bottom: -13px
   } 
   [data-theme='light'] {
   .gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 24px;
    background: linear-gradient(to bottom,
   currentColor 4px,transparent 0)
   no-repeat 5px -6px/2px 6px,
   linear-gradient(to bottom,
   currentColor 4px,transparent 0)
   no-repeat 5px 14px/2px 6px,
   linear-gradient(to bottom,
   currentColor 4px,transparent 0)
   no-repeat -8px 5px/6px 2px,
   linear-gradient(to bottom,
   currentColor 4px,transparent 0)
   no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
  .gg-sun::after,
  .gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid $color1;
    border-left: 4px solid $color1;
    left: -6px;
    top: 5px;
  }
}
   [data-theme='dark'] {
    .gg-sun,
   .gg-sun::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
   }
   
   .gg-sun {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid $color1;
    border-bottom-color: transparent
   }
   
   .gg-sun::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
    color: $color1;
   } 
    }
   
   .gg-share {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    background: #666;
    border-radius: 100px;
    box-shadow: 10px -6px 0, 10px 6px 0;
  
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      width: 10px;
      height: 2px;
      background: $color1;
      left: 2px;
    }
  
    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      width: 10px;
      height: 2px;
      background: $color1;
      left: 2px;
      top: 0;
      transform: rotate(-35deg);
    }
  
    &::after {
      bottom: 0;
      transform: rotate(35deg);
    }
  } 
  .gg-link {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs, 1));
    width: 8px;
    height: 2px;
    background: $color2;
    border-radius: 4px;
  
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      width: 8px;
      height: 10px;
      border: 2px solid $color1;
      top: -4px;
    }
  
    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      width: 8px;
      height: 10px;
      border: 2px solid $color1;
      top: -4px;
      border-right: 0;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      left: -6px;
    }
  
    &::after {
      border-left: 0;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      right: -6px;
    }
  }   
  .gg-chevron-up-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    border: 2px solid $color1;
    border-radius: 4px;
    background-color: var(--background);
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 10px;
      height: 10px;
      border-top: 2px solid $color1;
      border-right: 2px solid $color1;
      transform: rotate(-45deg);
      left: 12px;
      bottom: 8px;
      transition: .3s ease-in-out;
    }
  }
  .gg-album {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    transform: scale(var(--ggs,1));
    border-left: 7px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 8px solid transparent;
    box-shadow: 0 0 0 2px,
   inset 6px 4px 0 -4px,
   inset -6px 4px 0 -4px;
    border-radius: 3px;
    &::after {
      transform: rotate(-46deg);
      right: 2px;
    }
  }
  .gg-album::after,
  .gg-album::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 5px;
    background: currentColor;
    transform: rotate(46deg);
    top: 5px;
    right: 4px;
  }
  .gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid $color1;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      width: 2px;
      height: 8px;
      background: currentColor;
      transform: rotate(-45deg);
      top: 10px;
      left: 12px;
      color: $color1;
    }
  }

.gg-mail,
.gg-mail::after {
	display: block;
	box-sizing: border-box;
	height: 16px;
	border: 2px solid $color1;
}
.gg-mail {
	overflow: hidden;
	transform: scale(var(--ggs,1));
	position: relative;
	width: 20px;
	border-radius: 2px;
	&::after {
		content: "";
		position: absolute;
		border-radius: 3px;
		width: 16px;
		transform: rotate(-45deg);
		bottom: 5px;
		left: 0;
	}
}
.gg-chevron-down {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px;
	&::after {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		width: 10px;
		height: 10px;
		border-bottom: 2px solid $color1;
		border-right: 2px solid $color1;
		transform: rotate(45deg);
		left: 4px;
		top: 2px;
	}
}
