.m-news{
    @include flex;
    margin-bottom: 4rem;
    padding: 0 20px;
    a{
        text-decoration: none;
        color: #161616;
    }
    &__img{
        height: 176px;
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
        img{
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__heading{
        @include flex-jbetween;
        a{
            padding-right: 5px;
            text-transform: uppercase;
        }
    }
    &__cate{
      font-size: 1rem;
      span{
        border-left: 1px solid;
        padding-left: 5px;
      }
    }
    &__info{
        @include flex-jbetween;
    }
    &__auth{
        @include flex;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    &__ext{
        margin-bottom: 1rem;
    }
    &__name{
        font-weight: 600;
    }
    &__date{
        font-weight: 500;
        font-size: 1.2rem;
    }
    &__more{
        @include flex;
        align-items: center;
        a{
            margin: 0 5px;
            @include flex;
            span{
                margin: 0 5px;
            }
        }
    }
    &__item{
        margin-bottom: 2.5rem;
    }
    &.is_row{
        .m-news{
            &__item{
                margin: 0 auto;
                width: calc(33.3% - 20px);
                @include sp{
                    width: 100%;
                }
            }
        }
    }
    &__big{
        width: 380px;
        margin-right: 2.5rem;
        @include tb{
            width: 280px;
        }
        @include sp{
            max-width: 100%;
            width: 100%;
            margin-right: 0;
        }
    }
    &__smail{
        @include pc{
            width: calc(100% - 405px);
        }
        @include tb{
            width: calc(100% - 305px);
        }
        .m-news{
            &__item{
                @include pc{
                    @include flex;
                }
            }
            &__img{
               @include pc{
                height: 140px;
                width: 225px;
                margin-right: 12px;
               }
               @include tb{
                   width: 180px;
                   margin-right: 10px;
               }
            }
            &__content{
                @include pc{
                    width: calc(100% - 237px);
                    
                }
                @include tb{
                    width: calc(100% - 190px);
                }
            }
        }
    }
}
.m-content{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    &__head{
        margin-top: 1rem;
        padding: 15px 10px;
    }
    &__category{
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        color: #666;
    }
    &__ttl{
        font-size: 4.2rem;
        line-height: 1.38;
        font-weight: 700;
    }
    &__description{
        font-style: italic;
        font-size: 1.6rem;
        color: #666;
        margin: 5px 0;
    }
    &__auth{
        @include flex;
        align-items: center;
        margin: 1.5rem 0;
        img{
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }
        &--name{
            margin: 0 10px;
            @include flex;
            color: #666;
            flex-direction: column;
            a{
                text-decoration: none;
                color: #666;
                font-weight: bold;
            }
        }
    }
    &__img{
        margin: 1rem 0;
    }
    &__body{
        p{
            font-size: 1.9rem;
            line-height: 1.68;
            margin: 0 0 20px;
        }
        h2{
            font-size: 2.6rem;
            margin-block-end: .83rem;
            font-weight: bold;
        }
        h3{
            font-size: 2.4rem;
            margin-block-end: .83rem;
            font-weight: bold;
        }
        figcaption{
            font-style: italic;
            text-align: center;
            margin: 1rem 0;
        }
        img{
            margin: 0 auto;
        }
        blockquote{
            border-left: 4px solid #0099df;
            margin: 30px 0;
            font-style: italic;
            color: #555;
            font-size: 1.5rem;
            line-height: 1.7;
            padding: 15px 15px 5px 40px;
            background: #f5f5f6 url(../../assets/images/quote.svg) top 15px left 15px/22px no-repeat;
        }
    }
}