extends _layout/default

block vars
  -title        = 'Trang chủ - Spiderum'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''

block container
 h2.m-ttl2 Đừng bỏ lỡ 
 section.m-news 
  .m-news__big 
    .m-news__item
      .m-news__img
        img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
      .m-news__heading 
        .m-news__cate 
          a(href="#") Quan điểm - Tranh luận
          span 5 phút đọc 
        .m-news__save 
          i.gg-bookmark
      a(href="#")
        h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
      .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
      .m-news__info 
        a.m-news__auth(href="#") 
          img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
          .m-news__name Anh Thư 
            .m-news__date 24 tháng 5
        .m-news__more 
          a(href='')
            i.gg-shape-triangle  
            span 21
          a(href='')
            i.gg-eye
            span 21000
          a(href='')
            i.gg-transcript
            span 21

  .m-news__smail
      .m-news__item
        .m-news__img
          img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
        .m-news__content
          .m-news__heading 
            .m-news__cate 
              a(href="#") Quan điểm - Tranh luận
              span 5 phút đọc 
            .m-news__save 
              i.gg-bookmark
          a(href="#")
            h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
          .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
          .m-news__info 
            a.m-news__auth(href="#") 
              img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
              .m-news__name Anh Thư 
                .m-news__date 24 tháng 5
            .m-news__more 
              a(href='')
                i.gg-shape-triangle  
                span 21
              a(href='')
                i.gg-eye
                span 21000
              a(href='')
                i.gg-transcript
                span 21
      .m-news__item
              .m-news__img
                img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
              .m-news__content
                .m-news__heading 
                  .m-news__cate 
                    a(href="#") Quan điểm - Tranh luận
                    span 5 phút đọc 
                  .m-news__save 
                    i.gg-bookmark
                a(href="#")
                  h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
                .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những...Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
                .m-news__info 
                  a.m-news__auth(href="#") 
                    img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
                    .m-news__name Anh Thư 
                      .m-news__date 24 tháng 5
                  .m-news__more 
                    a(href='')
                      i.gg-shape-triangle  
                      span 21
                    a(href='')
                      i.gg-eye
                      span 21000
                    a(href='')
                      i.gg-transcript
                      span 21

 h2.m-ttl2 Đừng bỏ lỡ 
 section.m-news 
  .m-news__big 
    .m-news__item
      .m-news__img
        img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
      .m-news__heading 
        .m-news__cate 
          a(href="#") Quan điểm - Tranh luận
          span 5 phút đọc 
        .m-news__save 
          i.gg-bookmark
      a(href="#")
        h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
      .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
      .m-news__info 
        a.m-news__auth(href="#") 
          img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
          .m-news__name Anh Thư 
            .m-news__date 24 tháng 5
        .m-news__more 
          a(href='')
            i.gg-shape-triangle  
            span 21
          a(href='')
            i.gg-eye
            span 21000
          a(href='')
            i.gg-transcript
            span 21

  .m-news__smail
      .m-news__item
        .m-news__img
          img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
        .m-news__content
          .m-news__heading 
            .m-news__cate 
              a(href="#") Quan điểm - Tranh luận
              span 5 phút đọc 
            .m-news__save 
              i.gg-bookmark
          a(href="#")
            h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
          .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
          .m-news__info 
            a.m-news__auth(href="#") 
              img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
              .m-news__name Anh Thư 
                .m-news__date 24 tháng 5
            .m-news__more 
              a(href='')
                i.gg-shape-triangle  
                span 21
              a(href='')
                i.gg-eye
                span 21000
              a(href='')
                i.gg-transcript
                span 21
      .m-news__item
              .m-news__img
                img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
              .m-news__content
                .m-news__heading 
                  .m-news__cate 
                    a(href="#") Quan điểm - Tranh luận
                    span 5 phút đọc 
                  .m-news__save 
                    i.gg-bookmark
                a(href="#")
                  h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
                .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những...Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
                .m-news__info 
                  a.m-news__auth(href="#") 
                    img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
                    .m-news__name Anh Thư 
                      .m-news__date 24 tháng 5
                  .m-news__more 
                    a(href='')
                      i.gg-shape-triangle  
                      span 21
                    a(href='')
                      i.gg-eye
                      span 21000
                    a(href='')
                      i.gg-transcript
                      span 21



