extends _layout/default

block vars
  -title        = 'Trang chủ - Spiderum'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''

block container
 section.m-content 
  .m-content__head 
    a.m-content__category(href="/category.html") Science2vn
    h1.m-content__ttl  Khi củ khoai tây gánh trên vai cả thế giới 
    p.m-content__description Khi bước vào một nhà hàng sang trọng hay đến một quán ăn vặt trên vỉa hè, mọi người có để ý rằng trong thực đơn phụ luôn có món khoai...
    .m-content__auth 
      img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/20aecb60f7bc11ea80c5fde05fa8896b.jpg", alt="")
      .m-content__auth--name 
        a(href="#") Tedisious
        p  4 tháng 9 2020 

  .m-content__img 
    img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-images/3a782de0eeb411ea951899ae104f8398.jpg", alt="")
  .m-content__body
    h3 2. Gạt đi những trông chờ, hy vọng
    p Chỉ khoảng 600 năm trước, nếu hỏi hầu hết mọi người trên thế giới củ khoai tây là gì, chắc chẳng có ai có thể trả lời được cho bạn vì đơn giản là ở toàn lục địa Á-Âu và châu Phi không tồn tại loại thực vậy này. Khoai tây lúc ấy chỉ có tại Nam Mỹ, 8000 năm trước những bộ lạc sống ở dãy Andes (Peru ngày nay) đã biết trồng khoai tây để làm lương thực. Với nguồn dinh dưỡng lớn cung cấp cả tinh bột, đạm, chất béo, ... và đặc biệt dễ trồng, khoai tây là một nguồn lương thực hoàn hảo cho vùng đất vốn dĩ thưa đất trồng trọt này. Dần dần, loại lương thực này trở thành nền móng cho sự phát triển rực rỡ của nền văn minh tại Nam Mỹ.
    img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-images/48bdd580eea011eabe1b59770361fa48.jpg", alt="")
    figcaption  Khoai tây đã được trồng tại dãy Andes hàng ngàn năm trước
    p Và rồi, con người bước vào Kỷ nguyên Khám phá - Age of Discovery, những kẻ chinh phục đến từ châu Âu tiến vào châu Mỹ, hủy diệt các nền văn minh bản địa, cướp bóc vàng bạc châu báu và tất nhiên không quên mang theo những đặc sản địa phương. Khoai tây chính là một trong số đó. Và có lẽ những tay chinh phục người Tây Ban Nha khi mang thứ này về chắc hẳn cũng không nghĩ rằng đó là khoảnh khắc họ đã thay đổi lịch sử thế giới mãi mãi. 
    h3 2. Gạt đi những trông chờ, hy vọng
    blockquote Bởi một khi đã đưa ra quyết định, họ đã nghĩ đến việc ấy rồi, rằng cả hai không còn là của nhau nữa, và họ đã sẵn sàng đánh đổi.
    p Và rồi, con người bước vào Kỷ nguyên Khám phá - Age of Discovery, những kẻ chinh phục đến từ châu Âu tiến vào châu Mỹ, hủy diệt các nền văn minh bản địa, cướp bóc vàng bạc châu báu và tất nhiên không quên mang theo những đặc sản địa phương. Khoai tây chính là một trong số đó. Và có lẽ những tay chinh phục người Tây Ban Nha khi mang thứ này về chắc hẳn cũng không nghĩ rằng đó là khoảnh khắc họ đã thay đổi lịch sử thế giới mãi mãi.
    p Và rồi, con người bước vào Kỷ nguyên Khám phá - Age of Discovery, những kẻ chinh phục đến từ châu Âu tiến vào châu Mỹ, hủy diệt các nền văn minh bản địa, cướp bóc vàng bạc châu báu và tất nhiên không quên mang theo những đặc sản địa phương. Khoai tây chính là một trong số đó. Và có lẽ những tay chinh phục người Tây Ban Nha khi mang thứ này về chắc hẳn cũng không nghĩ rằng đó là khoảnh khắc họ đã thay đổi lịch sử thế giới mãi mãi.
    blockquote à cũng tin rằng thời hạn của nó đã kết thúc rồi, có những thứ ‘mãi mãi’, chỉ là ‘mãi mãi’ trong khoảnh khắc đó, trong giờ phút đó mà thôi.
    p Và rồi, con người bước vào Kỷ nguyên Khám phá - Age of Discovery, những kẻ chinh phục đến từ châu Âu tiến vào châu Mỹ, hủy diệt các nền văn minh bản địa, cướp bóc vàng bạc châu báu và tất nhiên không quên mang theo những đặc sản địa phương. Khoai tây chính là một trong số đó. Và có lẽ những tay chinh phục người Tây Ban Nha khi mang thứ này về chắc hẳn cũng không nghĩ rằng đó là khoảnh khắc họ đã thay đổi lịch sử thế giới mãi mãi.
  .m-content__footer 

 
 h2.m-ttl2 Bài viết nổi bật khác
 section.m-news.is_row
  .m-news__item
    .m-news__img
      img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
    .m-news__content
      .m-news__heading 
        .m-news__cate 
          a(href="#") Quan điểm - Tranh luận
          span 5 phút đọc 
        .m-news__save 
          i.gg-bookmark
      a(href="#")
        h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
      .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những...Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
      .m-news__info 
        a.m-news__auth(href="#") 
          img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
          .m-news__name Anh Thư 
            .m-news__date 24 tháng 5
        .m-news__more 
          a(href='')
            i.gg-shape-triangle  
            span 21
          a(href='')
            i.gg-eye
            span 21000
          a(href='')
            i.gg-transcript
            span 21
  .m-news__item
    .m-news__img
      img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
    .m-news__content
      .m-news__heading 
        .m-news__cate 
          a(href="#") Quan điểm - Tranh luận
          span 5 phút đọc 
        .m-news__save 
          i.gg-bookmark
      a(href="#")
        h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
      .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những...Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
      .m-news__info 
        a.m-news__auth(href="#") 
          img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
          .m-news__name Anh Thư 
            .m-news__date 24 tháng 5
        .m-news__more 
          a(href='')
            i.gg-shape-triangle  
            span 21
          a(href='')
            i.gg-eye
            span 21000
          a(href='')
            i.gg-transcript
            span 21
  .m-news__item
    .m-news__img
      img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-thumbnails/3266811074b211e98bc52d654e80e4ac.jpg", alt="news") 
    .m-news__content
      .m-news__heading 
        .m-news__cate 
          a(href="#") Quan điểm - Tranh luận
          span 5 phút đọc 
        .m-news__save 
          i.gg-bookmark
      a(href="#")
        h2.m-title Fuckbois, PUA, Single Mom, Red Pills và tác dụng phụ của thuốc.
      .m-news__ext  Văn hoá phương Tây du nhập vào kéo theo hàng loạt những...Văn hoá phương Tây du nhập vào kéo theo hàng loạt những... 
      .m-news__info 
        a.m-news__auth(href="#") 
          img(src="https://s3-ap-southeast-1.amazonaws.com/images.spiderum.com/sp-xs-avatar/c666b030f75911ea8b09fbdb5cbee9ca.jpg", alt="auth")
          .m-news__name Anh Thư 
            .m-news__date 24 tháng 5
        .m-news__more 
          a(href='')
            i.gg-shape-triangle  
            span 21
          a(href='')
            i.gg-eye
            span 21000
          a(href='')
            i.gg-transcript
            span 21                        
 
